:root {
  --color-primary:#00a3b9;
}

body {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif !important;

}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif !important;;
}

/* nav {
  background-color: var(--color-primary);
} */

nav {
  background-color: transparent;
  border-color: transparent;

  }
  h1{
    font-family: "Josefin Sans";
  }
  .card-bg
  {
    background-color: var(--color-primary);
    color: white;
  }

.sec-3{
    padding-top: 5%;
  }
.container-white{
    text-align: center;
    background-color: white;
  }
  footer{
    background-color:  var(--color-primary);
  }

